<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767906282050-qv4pj58o42ehn1map5vlp2ei725h3iti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767906282050-qv4pj58o42ehn1map5vlp2ei725h3iti</string>
	<key>API_KEY</key>
	<string>AIzaSyCR_6fhme6vtcR2GvcfetTOoi_IQvlI2i8</string>
	<key>GCM_SENDER_ID</key>
	<string>767906282050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>aayush-expense-tracker-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>aayush-expense-tracker-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767906282050:ios:12cfc2659ba7fbae33cbdb</string>
</dict>
</plist>